:root{

--bg:#0F172A;
--card:#1E293B;
--primary:#38BDF8;
--text:#E2E8F0;
--secondary:#8DA2B8;

}

/* AVATAR */

.profile-img{

    width:340px;
    height:340px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid var(--primary);

    box-shadow:0 0 35px rgba(56,189,248,.35);

    transition:.35s;

}

.profile-img:hover{

    transform:scale(1.04);

}



/* NAV BAR  */

.navbar{

    background:var(--card);

    padding:15px 0;

    transition:.3s;

}

body{

font-family:'Poppins',sans-serif;

}

html{

    scroll-behavior:smooth;

}

.navbar-brand{

    font-size:28px;

}

.tech{

    color: #dae0e4;
    font-weight: bold;

}


.about{
    padding-top:100px;
    padding-bottom:100px;
}

.section-title{
    color: #abcfeb;
    font-size:40px;
    font-weight:bold;
    margin-bottom:30px;
}

.about-text{
    color:#5d83a2;
    font-size:18px;
    line-height:1.8;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.skills span{

    background:#1E293B;
    color:#bccce0;

    padding:12px 22px;
    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.skills span:hover{

    background:#77c1e1;
    color:#0F172A;

    transform:translateY(-4px);

}


/* Hero-Section */

#home{

    padding:130px 0;

}

.hero-intro{

    color:#38BDF8;

    font-size:20px;

    margin-bottom:10px;

}

.hero-title{

    font-size:70px;

    font-weight:700;

    margin-bottom:10px;

}

.hero-title span{

    color:#38BDF8;

}

.hero-subtitle{

    color:#BCCCE0;

    font-size:24px;

    font-weight:500;

    line-height:1.4;

    margin-bottom:24px;

}

.hero-description{

    color:var(--secondary);

    font-size:17px;

    line-height:1.8;

    max-width:520px;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.hero-btn{

    background:#38BDF8;

    border:none;

    color:#0F172A;

    padding:12px 28px;

    font-weight:600;

    border-radius:50px;

    transition:.3s;

}

.hero-btn:hover{

    transform:translateY(-4px);

    background:#7DD3FC;

}

.hero-btn-outline{

    padding:12px 28px;

    border-radius:50px;

    transition:.3s;

}

.hero-btn-outline:hover{

    transform:translateY(-4px);

}


.hero-image:hover{

    transform:scale(1.04);

}

@media (max-width:992px){

    #home{

        padding:100px 0;

        text-align:center;

    }

    .hero-title{

        font-size:42px;

    }

    .hero-subtitle{

        font-size:20px;

    }

    .hero-description{

        margin:auto auto 30px;

    }

    .hero-buttons{

        justify-content:center;

    }

    .profile-img{

        width:260px;

        height:260px;

        margin-bottom:40px;

    }

}

.about h4{

    color:#E2E8F0;

    font-weight:600;

    margin-bottom:25px;

}

body{

    background:var(--bg);

    color:var(--text);

}

.navbar{
    padding: 15px 0;
}

.navbar-brand{
    font-size: 28px;
}

.nav-link{
    color: white !important;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #38BDF8 !important;
}

.nav-link.active{
    color: #38BDF8 !important;
}

  /* SKILLS  */

#skills{

    padding:100px 0;

    background:#111C2F;

}

.section-description{

    color:#8DA2B8;

    font-size:18px;

    max-width:600px;

    margin:15px auto 60px;

}

.skill-box{

    background:var(--card);

    padding:35px 30px;

    border-radius:20px;

    height:100%;

    transition:.35s;

    border:1px solid transparent;

}

.skill-box:hover{

    transform:translateY(-10px);

    border-color:#38BDF8;

    box-shadow:0 15px 35px rgba(56,189,248,.18);

}

.skill-box h3{

    color:#38BDF8;

    font-size:24px;

    font-weight:600;

    margin-bottom:25px;

}

.skill-box ul{

    list-style:none;

    padding:0;

    margin:0;

}

.skill-box ul li{

    color:#D7E3EF;

    padding:12px 0;

    border-bottom:1px solid rgba(255,255,255,.08);

    font-size:17px;

    transition:.3s;

}

.skill-box ul li:last-child{

    border-bottom:none;

}

.skill-box ul li:hover{

    color:#38BDF8;

    padding-left:8px;

}

/* PROJECTS SECTION  */

.projects{

    padding:100px 0;

}

.project-card{

    background:var(--card);

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

    height:100%;

    border:1px solid transparent;

}

.project-card:hover{

    transform:translateY(-10px);

    border-color:#38BDF8;

    box-shadow:0 20px 40px rgba(56,189,248,.18);

}

.project-card img{

    width:100%;

    height:240px;

    object-fit:cover;

}

.project-content{

    padding:30px;

}


.project-content h3{

    color:#FFFFFF;

    margin-bottom:15px;

    font-size:28px;

}

.project-content p{

    color:#8DA2B8;

    line-height:1.7;

}

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin:25px 0;

}

.project-buttons{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-top:20px;

}

.tech-stack span{

    background:#0F172A;

    color:#38BDF8;

    padding:8px 16px;

    border-radius:50px;

    font-size:14px;

    font-weight:600;

}

.project-btn{

    background:var(--primary);

    color:var(--bg);

    padding:10px 24px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

    box-shadow:0 8px 20px rgba(56,189,248,.20);

}

.project-btn:hover{

    background:#7DD3FC;

    transform:translateY(-3px);

}

/* Contact */

.contact{

    padding:100px 0;

}

.contact-card{

    display:block;

    background:var(--card);

    border-radius:20px;

    padding:40px 30px;

    text-align:center;

    transition:.35s;

    border:1px solid transparent;

    height:100%;

}

.contact-card:hover{

    transform:translateY(-10px);

    border-color:#38BDF8;

    box-shadow:0 20px 40px rgba(56,189,248,.18);

}

.contact-logo{

    width:65px;

    height:65px;

    object-fit:contain;

    margin-bottom:25px;

    transition:.3s;

}

.contact-card:hover .contact-logo{

    transform:scale(1.1);

}

.contact-card h4{

    color:#FFFFFF;

    margin-bottom:12px;

    font-size:24px;

}

.contact-card p{

    color:#BCCCE0;

    margin:0;

}


/* FOOTER  */

.footer{

    background:var(--card);

    padding:40px 0;

    margin-top:80px;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer h5{

    color:#FFFFFF;

    font-size:24px;

    margin-bottom:10px;

}

.footer p{

    color:#8DA2B8;

    margin:5px 0;

}

.footer-copy{

    font-size:14px;

    opacity:.8;

}


/* ANIMATION  */

.reveal {
    opacity: 0;
    transition: all 0.8s ease;
}

.reveal-up {
    transform: translateY(50px);
}

.reveal-left {
    transform: translateX(-50px);
}

.reveal-right {
    transform: translateX(50px);
}

.reveal-scale {
    transform: scale(0.9);
}

.reveal.active {
    opacity: 1;
    transform: translate(0) scale(1);
}

.project-card:nth-child(1) {
    transition-delay: 0.1s;
}

.project-card:nth-child(2) {
    transition-delay: 0.2s;
}

.project-card:nth-child(3) {
    transition-delay: 0.3s;
}